body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input{
    border: 1px solid #5f9341;
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
}

button{
    background: #5f9341;
    color: white;
    border: 1px solid #5f9341;
    padding: 10px 20px;
    font-size: 20px;
}

#delete-btn{
    background: white;
    color: #5f9341;
}

ul {
    padding: 0;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5;
    
}
li a {
    color: #5f9341;
}